<%- include('layout/head.ejs', { PAGE_CONF }) %>
<div class="container">
  <%- include('templates/common/header/index.ejs', { navData }) %>

  <%- include('templates/index/carousel/index.ejs', { sliderData, IMG_BASE_URL }) %>
</div>
<%- include('layout/foot.ejs', { PAGE_CONF }) %>